$white: #f8f8ff;
$light-teal: #99ffe0;
$teal: #25ffbf;
$dark-teal: #00e09d;
$blue: #00d0ff;
$dark-blue: #0085a3;
$extra-dark-blue: #005366;
$yellow: #fed47e;
$black: #151515;
$med-grey: #999;

.text-black {
  color: $black;
}

.text-white {
  color: $white;
}

.text-blue {
  color: $blue;
}

.text-teal {
  color: $teal;
}

.bg-blue {
  background-color: $blue;
}

.bg-black {
  background-color: $black;
}

.bg-overlay {
  background-color: rgba(15, 15, 15, 0.8);
}

.bg-white-overlay {
  background-color: rgba(255, 255, 255, 0.9);
}

.bg-light-teal {
  background-color: $light-teal;
}

.bg-teal {
  background-color: $teal;
}

.bg-yellow {
  background-color: $yellow;
}

.border-blue {
  border-color: $blue !important;
}

.border-black {
  border-color: $black !important;
}

.hover-light-teal {
  &:hover {
    background-color: $light-teal;
  }
}
