.bg-hero {
  padding: 50px 0 40px 0;
  background: url("../public/images/seattle_banner3.png") no-repeat;
  background-size: cover;

  @media (max-width: $sm) {
    padding: 50px 0 20px 0;
  }

  @media (max-width: $xxs) {
    padding: 50px 0 20px 0;
    background-position: 35% 100%;
  }
}

.hero-presents {
  letter-spacing: 0.3rem;

  @media (max-width: $xxs) {
    margin-left: 10px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.15rem;
    padding-bottom: 10px;
  }
}

.hero-date {
  padding-top: 50px;
  margin-right: 200px;
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: $white;

  @media (max-width: $sm) {
    margin-right: 80px;
    font-size: 40px;
  }

  @media (max-width: $xs) {
    margin-right: 60px;
    font-size: 30px;
  }

  @media (max-width: $xxs) {
    padding-top: 10px;
    margin-right: 10px;
    font-size: 20px;
  }
}

.hero-parent {
  justify-content: flex-end;

  @media (max-width: $sm) {
    justify-content: center;
    //margin-bottom: 0.5rem;
  }
}

.hero-header {
  padding: 20px 50px;
  margin-right: 80px;
  font-family: "Lilita One", sans-serif;
  font-size: 80px;
  background: -webkit-linear-gradient($blue, $teal);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  //@media (max-width: $md) {
  //  font-size: 83px;
  //}

  //@media (max-width: $sm) {
  //  padding: 30px;
  //  margin-right: 0;
  //  font-size: 80px;
  //}

  @media (max-width: $xs) {
    padding: 0;
    //margin-bottom: 0.75rem;
    margin-right: 0;
    font-size: 43px;
  }

  //@media (max-width: $xxs) {
  //  padding: 16px;
  //  margin-right: 0;
  //  font-size: 60px;
  //}
}

.button-hero-secondary {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: $teal !important;
  border: 2px solid $teal !important;

  &:hover {
    color: $light-teal !important;
    border-color: $light-teal !important;
  }
}

.button-hero {
  background-color: $teal;
  color: $black;
  width: 310px;
  text-align: center;
  padding: 12px 16px;
  margin-right: 220px;
  font-size: 32px;

  @media (max-width: $sm) {
    margin-right: 150px;
  }

  @media (max-width: $xs) {
    font-size: 26px;
    width: 250px;
    padding: 10px;
    margin-right: 80px;
  }

  @media (max-width: $xxs) {
    font-size: 20px;
    width: 200px;
    padding: 10px;
    margin-right: 20px;
  }
}

.hero-countdown {
  text-transform: uppercase;
  padding-top: 50px;
}

.hero-number {
  font-weight: 700;
  font-size: 80px;
  margin-bottom: 30px;

  @media (max-width: $sm) {
    font-size: 70px;
    margin-bottom: 25px;
  }

  @media (max-width: $xs) {
    font-size: 60px;
    margin-bottom: 20px;
  }

  @media (max-width: $xxs) {
    font-size: 40px;
    margin-bottom: 5px;
  }
}

.hero-label {
  font-weight: 500;
  font-size: 32px;

  @media (max-width: $sm) {
    font-size: 28px;
  }

  @media (max-width: $xs) {
    font-size: 24px;
  }

  @media (max-width: $xxs) {
    font-size: 16px;
  }
}

.hero-countdown-item {
  margin: 0 80px;

  @media (max-width: $sm) {
    margin: 0 60px;
  }

  @media (max-width: $xs) {
    margin: 0 40px;
  }

  @media (max-width: $xxs) {
    margin: 0 24px;
  }
}

.feed {
  color-scheme: dark;
  max-height: 600px;
  height: 600px;
  overflow-y: scroll;

  @media (max-width: $sm) {
    height: unset;
  }
}

.feed-parent {
  padding-left: 50px;

  @media (max-width: $md) {
    padding-left: 20px;
  }

  @media (max-width: $sm) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (max-width: $xs) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: $xxs) {
    padding-left: 8px;
    padding-right: 8px;
  }
}
