h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1;
}

.text-xxl {
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.1;
}

.text-xl {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.1;
}

.text-l {
  font-style: normal;
  font-weight: 500;
  font-size: 1.375rem;
}

.text-m {
  font-style: normal;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.2;
}

.text-d {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.text-s {
  font-style: normal;
  font-weight: 400;
  font-size: 0.91rem;
  line-height: 1.3;
}

.weight-100 {
  font-weight: 100;
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.bold {
  font-weight: 700 !important;
}

.text-underline {
  text-decoration: underline;
}

.all-caps {
  text-transform: uppercase;
}

@media (min-width: $sm) {
  .text-xl {
    font-weight: 500;
    font-size: 2rem;
  }
}

.font-lilita {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
